<div class="row nick-choose">
  <div class="col-sm-5 col-centered">
    <div class="alert alert-danger fade in" ng-show="chat.error" ng-cloak>
      {{chat.error}}
    </div>
    <form name="connector" ng-show="!chat.connected">
      <div class="input-group">
        <input key-listener type="text" class="form-control" ng-model="chat.nick.name" placeholder="Choose a nickname" required/>
          <span class="input-group-btn">
          <button class="btn btn-info" type="button" ng-disabled="connector.$invalid" ng-click="chat.connect()">CONNECT</button>
          </span>
      </div>
    </form>
  </div>
</div>
